.snake {
  background: green !important;
  z-index: 3;
}

.apple {
  background: red !important;
  z-index: 2;
}

.cell {
  float: left;
  height: 20px;
  width: 20px;
  background: #eee;

  border: solid gray 1px;
}